### import statsmodels
from statsmodels import stats
from statsmodels.stats import weightstats
from scipy.stats import t,norm
import numpy as np
import pandas as pd

In [1]:
from statsmodels import stats
from statsmodels.stats import weightstats
from scipy.stats import t,norm
import numpy as np
import pandas as pd

In [2]:
##Continuing from Day6

In [5]:
df = pd.read_excel("CDAC_DataBook.xlsx",sheet_name="faithful")
df.head()

   eruptions  waiting
0      3.600       79
1      1.800       54
2      3.333       74
3      2.283       62
4      4.533       85

In [7]:
erupt = df.eruptions

In [8]:
np.mean(erupt)

3.4877830882352936

## Interval estimate when the error is only on one side

In [103]:
#here right side is where the error exists
#mean of erupt is atmost 3.3 Ho m<=3.3 Ha m>3.3 ---> right tail test

In [131]:
statsmodels.stats.weightstats.ztest(erupt, value=3.3, alternative='larger')

(2.7134011190454603, 0.003329822003485617)

In [127]:
norm.ppf(0.025)

-1.9599639845400545

In [128]:
norm.ppf(0.05)

-1.6448536269514729

In [132]:
np.mean(erupt) - 1.645*np.std(erupt,ddof=1)/(len(erupt)**0.5)

3.373939551436088

In [95]:
## this mean is called 95% lower bound

In [96]:
statsmodels.stats.weightstats.ztest(erupt, value=3.4, alternative='larger')

(1.2684354703574654, 0.10232124071101334)

In [ ]:
##we calculated the 95% lower bound mean as 3.37

In [19]:
##since here p value is greater than 0.5 then we do not have to make any changes, the statistical difference is insignificant
##and 3.4 is not so greater than 3.37

## alternative claim to above problem

In [22]:
# the mean of erupt is atleast 3.7

In [23]:
# Ho mu>=3.7 Ha mu<3.7,, errort exist on left side (lower side), left tail test

In [102]:
statsmodels.stats.weightstats.ztest(erupt,value=3.7,alternative='smaller')

(-3.06646147570652, 0.0010830435959524984)

In [25]:
# H0 is rejected. diff is significant, action needs to be taken

In [26]:
np.mean(erupt) + 1.65*np.std(erupt,ddof=1)/((len(erupt)**0.5))

3.601972654021731

In [27]:
statsmodels.stats.weightstats.ztest(erupt, value=3.55,alternative='smaller')

(-0.8990130026745241, 0.18432286741340448)

In [28]:
## 95% higher bound is 3.60, i.e mean should never exceed 3.60

## Another example

In [29]:
#using SLA 
x1 = [4,7,6,5,6,7,5,4,5,7,6,9,2,3,4]
#mean is x1 should be maximum 5
#ho m<=5, ha m>5 --> right tail test

In [30]:
statsmodels.stats.weightstats.ztest(x1, value=5,alternative='larger')

(0.7174300539794387, 0.2365543904474972)

In [31]:
np.mean(x1) - 1.645*np.std(x1,ddof=1)/((len(x1)**0.5))

4.569031182493903

In [32]:
np.mean(x1)

5.333333333333333

In [33]:
#here our 95% lower bound mean is 4.56, we cant go lower than 4.56

# 2 Sample T- Test

In [34]:
x1 = [4,7,6,3,4,5,6,7,5,8]
x2 = [9,8,6,10,7,8,6,8,5]
# Ho mean(x2) - mean(x1) >= 2.5
# Ha mean(x2) - mean(x1) < 2.5

In [35]:
statsmodels.stats.weightstats.ztest(x2,x1, value=2.5,alternative='smaller')

(-0.7627276534979204, 0.22281291748297843)

In [36]:
np.mean(x2)-np.mean(x1)

1.9444444444444446

In [39]:
## If we assume mean of two samples is equal then it would be a two tailed as our hypothesis would fail on either side
## statsmodels.stats.weightstats.ztest(x2,x1, value=0,alternative='two-sided')
## statsmodels.stats.weightstats.ztest(x2,x1, value=0)

# one-way ANOVA

In [42]:
sampID = ['A','A','A','A','A','A','B','B','B','B','C','C','C','C','C','C']
salary = [40,43,38,29,30,35,45,48,46,42,28,35,40,37,32,38]

In [45]:
import  statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [46]:
data = {'City': sampID, 'Salary': salary}

In [48]:
df = pd.DataFrame(data)

In [49]:
df

   City  Salary
0     A      40
1     A      43
2     A      38
3     A      29
4     A      30
5     A      35
6     B      45
7     B      48
8     B      46
9     B      42
10    C      28
11    C      35
12    C      40
13    C      37
14    C      32
15    C      38

In [50]:
mod1 = ols('Salary ~ City',data=df).fit()
# ~ --> depends on
#ols('ColWithResponse ~ "ColWithPredictor")

In [51]:
my_table = sm.stats.anova_lm(mod1)

In [52]:
my_table

            df      sum_sq     mean_sq         F    PR(>F)
City       2.0  292.166667  146.083333  7.044513  0.008462
Residual  13.0  269.583333   20.737179       NaN       NaN

In [54]:
res = pairwise_tukeyhsd(df.Salary,df.City)

In [56]:
print(res)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     A      B   9.4167 0.0177   1.6552 17.1782   True
     A      C  -0.8333 0.9464  -7.7754  6.1088  False
     B      C   -10.25 0.0104 -18.0115 -2.4885   True
-----------------------------------------------------

In [59]:
gender = ['M','M','M','F','F','F','M','M','F','F','M','M','M','F','F','F']

In [60]:
df['Gender'] = gender

In [62]:
df.head()

  City  Salary Gender
0    A      40      M
1    A      43      M
2    A      38      M
3    A      29      F
4    A      30      F

In [63]:
mod2 = ols('Salary ~ City + Gender', data=df).fit()

In [64]:
my_table2 = sm.stats.anova_lm(mod2)

In [65]:
print(my_table2)

            df      sum_sq     mean_sq         F    PR(>F)
City       2.0  292.166667  146.083333  7.947110  0.006339
Gender     1.0   49.000000   49.000000  2.665659  0.128481
Residual  12.0  220.583333   18.381944       NaN       NaN

In [67]:
res = pairwise_tukeyhsd(df.Salary,df.Gender)
print(res)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
================================================
group1 group2 meandiff p-adj  lower upper reject
------------------------------------------------
     F      M      3.5 0.2668 -2.99  9.99  False
------------------------------------------------

In [72]:
mod3 = ols('Salary ~ City * Gender', data=df).fit()

In [73]:
my_table3 = sm.stats.anova_lm(mod3)

In [74]:
print(my_table3)

               df      sum_sq     mean_sq          F    PR(>F)
City          2.0  292.166667  146.083333  10.497006  0.003496
Gender        1.0   49.000000   49.000000   3.520958  0.090052
City:Gender   2.0   81.416667   40.708333   2.925150  0.099957
Residual     10.0  139.166667   13.916667        NaN       NaN

In [77]:
## City : Gender indicates the interaction between city and gender,  
## Interaction between 3 and more factors is never significant
# here the null hypothesis is interactions is insignificant, 
# alternative would be it is significant
# exapmle - weather conditions would impact speed of bike and car